<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'shapp/style.css' %}">
</head>
<body>
        <header>
            <nav>
                <a href="/" class="logo">
                    <img src="{%static 'shapp/images/sneakers.png'%}" alt="" class="logo_img">
                </a>
                {% if user.is_authenticated %}
                <div class="header_box">
                <h2 class="header_leaks">{{ user.username }}</h2>
                    <a class="header_leaks" href="{%url 'logout'%}">EXIT</a>
                </div>
                <div class="cart_div">
                    <img src="{%static 'shapp/images/cart.png'%}" alt="" class="logo_img" id="cart">
                    <section class="cart_box" id="cart_box">
                        <h2>Корзина</h2>
                        {%for item in cart_items%}
                        <div>
                            <h2>{{item.quantity}} {{item.sneakers.firm}} {{item.sneakers.title}} {{item.sneakers.price}}</h2>
                            <a href="{%url 'remove_from_cart' item.id%}" class="">X</a>
                        </div>
                        {% empty %}
                        <p>Your cart is empty.</p>
                        {%endfor%}
                        <h2>Total Price: {{ total_price }}$</h2>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token%}
                            {{form.as_p}}
                            <button type="submit" class="cart_button">Купить</button>
                        </form>
                    </section>
                </div>
                {%else%}
                <div class="header_box">
                    <a class="header_leaks" href="{%url 'login'%}">Войти</a>
                    <a class="header_leaks" href="{%url 'register'%}">Зарегистрироваться</a>
                </div>
                {%endif%}
            </nav>
        </header>
        <main>
            <section class="products">
                {%for sneakers in sneakers%}
                <div class="">
                    <a href="{%url 'product' sneakers.id%}" class="">
                        <img src="{{sneakers.img.url}}" alt="" class="product_img">
                        <h2 class="">{{sneakers.firm}} {{sneakers.title}}</h2>
                        <h2 class="">{{sneakers.price}}</h2>
                    </a>
                    <a href="{%url 'add_to_cart' sneakers.id%}" class="cart_button">
                        <!--Ссылка кнопка-->
                        В корзину
                    </a>
                </div>
                {%endfor%}
            </section>
            <section class="filters">
                <h2 class="firm">Firm Filters</h2>
                <a href="/" class="firm">all</a>
                {%for firm in firms%}
                <a href="/{{firm.name}}" class="firm">{{firm.name}}</a>
                {%endfor%}
            </section>
        </main>
        <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
        <script src="{%static 'shapp/script.js'%}"></script>
</body>
</html>