<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'shapp/style.css' %}">
</head>
<body>
        <header>
            <nav>
                <a href="/" class="logo">
                    <img src="{%static 'shapp/images/sneakers.png'%}" alt="" class="logo_img">
                </a>
                {% if user.is_authenticated %}
                <div class="header_box">
                <h2 class="header_leaks">{{ user.username }}</h2>
                    <a class="header_leaks" href="{%url 'logout'%}">EXIT</a>
                </div>
                {%else%}
                <div class="header_box">
                    <a class="header_leaks" href="{%url 'login'%}">Войти</a>
                    <a class="header_leaks" href="{%url 'register'%}">Зарегистрироваться</a>
                </div>
                {%endif%}
                <div class="cart_div">
                    <img src="{%static 'shapp/images/cart.png'%}" alt="" class="logo_img" id="cart">
                    <section class="cart_box" id="cart_box">
                        <h2>Корзина</h2>
                        {%for item in cart_items%}
                        <div>
                            <h2>{{item.quantity}} {{item.sneakers.firm}} {{item.sneakers.title}} {{item.sneakers.price}}</h2>
                            <a href="{%url 'remove_from_cart' item.id%}" class="">X</a>
                        </div>
                        {% empty %}
                        <p>Your cart is empty.</p>
                        {%endfor%}
                        <h2>Total Price:</h2>
                        <a class="" href="" id="">Купить</a>
                    </section>
                </div>
            </nav>
        </header>
        <main>
            <section class="form_section">
                <form method="post">
                    {% csrf_token%}
                    {{ form.as_p}}
                    <button type="submit" value="send">Register</button>
                </form>
            </section>
        </main>
        <script src="{%static 'shapp/script.js'%}"></script>
</body>
</html>