<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'shapp/style.css' %}">
</head>
<body>
        <header>
            <nav>
                <a href="/" class="logo">
                    <img src="{%static 'shapp/images/snlogo.png'%}" alt="" class="logo_img">
                </a>
                {% if user.is_authenticated %}
                <div class="header_box">
                <h2 class="header_leaks">{{ user.username }}</h2>
                    <a class="header_leaks" href="{%url 'logout'%}">EXIT</a>
                </div>
                {%else%}
                <div class="header_box">
                    <a class="header_leaks" href="{%url 'login'%}">Войти</a>
                    <a class="header_leaks" href="{%url 'register'%}">Зарегистрироваться</a>
                </div>
                {%endif%}
                {% if user.is_authenticated %}
                <div class="cart_div">
                    <img src="{%static 'shapp/images/carts.png'%}" alt="" class="logo_img" id="cart">
                    <section class="cart_box" id="cart_box">
                        <h2>Корзина</h2>
                        {%for item in cart_items%}
                        <div class="cart_words">
                            <h2>{{item.quantity}} {{item.sneakers.firm}} {{item.sneakers.title}} price: {{item.sneakers.price}}$</h2>
                            <section class="cart_images">
                                <a href="{%url 'remove_one_from_cart' item.id%}">
                                    <img src="{%static 'shapp/images/minus.png'%}" alt="" class="cart_img">
                                </a>
                                <a href="{%url 'remove_from_cart' item.id%}">
                                    <img src="{%static 'shapp/images/x_button.png'%}" alt="" class="cart_img">
                                </a>
                            </section>
                        </div>
                        {% empty %}
                        <h2>Your cart is empty</h2>
                        {%endfor%}
                        <a href="{%url 'clear_cart'%}" class="cart_button">Clear Cart</a>
                        <h2>Total Price: {{ total_price }} $</h2>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token%}
                            {{form.as_p}}
                            <button type="submit" class="cart_button" id="cart_button">Купить</button>
                        </form>
                    </section>
                </div>
                {%endif%}
            </nav>
        </header>
        <main>
            <div class="product_box">
                <div>
                    <model-viewer src="{{sneakers.obj_3d.url}}" ar ar-modes="webxr scene-viewer quick-look" camera-controls tone-mapping="neutral" poster="poster.webp" shadow-intensity="1" camera-orbit="-176.7deg 90.29deg 70.95m" field-of-view="30deg" class="product_page_img">
                        <div class="progress-bar hide" slot="progress-bar">
                            <div class="update-bar"></div>
                        </div>
                        <button slot="ar-button" id="ar-button">
                            View in your space
                        </button>
                    </model-viewer>
                    <h2>{{sneakers.firm}} {{sneakers.title}}</h2>
                    <h2>{{sneakers.price}}</h2>
                    <a href="{%url 'add_to_cart' sneakers.id%}" class="product_page_button">В корзину</a>
                </div>
            </div>
        </main>
        <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
        <script src="{%static 'shapp/script.js'%}"></script>
</body>
</html>